@import '../fonts/font.css';

:root {
  --white-primary: #ffffff;

  --grey-primary: #f4f4f4;
  --grey-secondary: #d4d9dd;
  --grey-thirdary: #f3f3f3;

  --grey-medium-primary: #d4d9dd;
  --grey-medium-secondary: #d3d3d3;
  --grey-medium-thirdary: #e8e8e8;

  --grey-dark-primary: #343a3f;
  --grey-dark-secondary: #9d9d9d;

  --blue-primary: #4888ff;

  --brown-primary: #cdbecd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0; */
  font-weight: normal;
  padding: 0;
  margin: 0;
}

body {
  /* display: flex;
  flex-direction: column; */
  /* position: relative; */
  min-height: 100vh;
  background: var(--white-primary);
  font-family: 'Maza', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
