@import './base.css';

#app {
  margin: 0 auto;
}

button {
  border: 0;
  cursor: pointer;
  background: none;
  border: none;
  /* padding: 0;
  margin: 0; */
}

ul,
li {
  list-style: none;
  /* margin: 0;
  padding: 0; */
}
